<a href="https://colab.research.google.com/github/nafeeur/cuny_data_analytics/blob/main/Python/Unit3/Unit3_Python_Advanced_Pandas_DataWrangling_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/Salaries.csv')

type(df)

# Making a new Data Frame that only has the columns 'sex' and 'salary'

new_df = df[["sex","salary"]]

#Finding the Median salary for all males

male_salray = new_df.loc[new_df['sex'] != "Female"]
print(male_salray.median())

#Finding the Median salary for all females

female_salray = new_df.loc[new_df['sex'] != "Male"]
print(female_salray.median())

#Comparing the Mean salary of Males and Females

print(male_salray.mean()-female_salray.mean())

salary    108043.0
dtype: float64
salary    103750.0
dtype: float64
salary    14088.008738
dtype: float64

NameError: ignored

# Data Wrangling â€“ perform some basic transformations on the data



```
# This is formatted as code
```

People who have 20 years of experience (Total: 157), (Mean Salary: 122,520.66)

Comparing the salaries of people who have 20+ years of experience vs less than 20 years of experience

People who have salary of greater than or equal to 200,000

Your Findings here...

# Rename values, subset columns, etc

# Create some simple visualizations showing some simple statistics

Your observations from the visuals:

# Draw some conclusions based on the data.  What did you discover?

Based on the analysis performed above, the conclusions are as follows:

Your Findings here...



I also discovered that the -

 Your Findings here...